a {
  color: #00B7FF;
}

.link {
  background:none!important;
  color:#00B7FF;
  border:none;
  padding:0!important;
  font: inherit;
  border-bottom: 0px solid #00B7FF;
  cursor: pointer;
}

.title {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.desc {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
}

.threads {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1%;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.thread {
  padding: 3em;
  text-align: center;
}

.thread-link {
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px black;
  display: block;
}