extends layout

block content
  script(type='text/javascript' src='/javascript/confirmdelete.js')
  h1= title
  h2= desc
  a(href='/thread/create') Create new thread
  hr
  ul
    each thread in threads
      li
        a(href='/thread/view/' + thread.ID) #{thread.Title}
          br
          a(href='/thread/edit/' + thread.ID) Edit
          //override the POST request so it becomes a DELETE request
          form(method='POST', action='/thread/delete/' + thread.ID + '?_method=DELETE' onsubmit="return confirmDelete("
          + thread.ID + ")")
            input.btn.btn-primary(class='link' type='submit', value="Delete")