extends layout

block content
  h1= title
  h2= desc
  a(href='/thread/create') Create new thread
  hr
  ul
    each thread in threads
      li
        a(href='/thread/view/' + thread.ID) #{thread.Title}
          br
          a(href='/thread/edit/' + thread.ID) Edit
          //override the POST request so it becomes a DELETE request
          form(method='POST', action='/thread/delete/' + thread.ID + '?_method=DELETE')
            input.btn.btn-danger(type='submit', value="Delete")