extends layout

block content
  div(class='container')
    div(class='title')
      h1= title
    div(class='desc')
      h3= desc
      form(action='/thread/create' method='get')
        input.btn.btn-primary(type='submit' value='Create new thread')
    div(class='threads')
        each thread in threads
          a(class='thread-link' href='/thread/view/' + thread.Id)
            div(class='thread')
              p(class='thread-title') #{thread.Title}
  script(type='text/javascript' src='/javascript/confirmdelete.js')
  script(type='text/javascript' src='/javascript/randomcolor.js')